doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(type="text/javascript" src="/javascripts/Layout.js")

        script.
            document.addEventListener("DOMContentLoaded", function(event) { 
                Layout.init();
            })
        block extraHeader

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ITIL Engine
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul#playerMenu.nav.navbar-nav
                    li#seviceCataloguesButton.navButton
                        a(href='/player/games/listPlayed') Played games
                    li#availableServicesButton.navButton
                        a(href='/player/services/available') Available games
                    li#serviceDeskButton.navButton
                        a(href='/player/games/serviceDesk') Service Desk
                ul#creatorMenu.nav.navbar-nav
                    li#createdServicesButton.navButton
                        a(href='/creator/services/created') Created services
                    li#publishedServicesButton.navButton
                        a(href='/creator/services/published') Created games

                if(user)
                    ul.nav.navbar-nav.navbar-right
                        li#creatorButton
                            a(href='/creator/services/created') Creator
                        li#playerButton
                            a(href='/player/games/listPlayed') Player
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Welcome #{user.username}
                            ul.dropdown-menu
                                li
                                    a(href='/users/edit/#{user._id}') Profile
                                li
                                    a(href='/logout') Logout

        div.container-fluid
            div.content
                block content

