extends layout

block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script.
        document.addEventListener("DOMContentLoaded", function(event) { 
            var display = "none";
            if("#{errRegister}"){
                display = "block";
            }
            [].forEach.call(document.getElementsByClassName("registerForm"), function (el) {
                el.style.display = display;
            });
        });
        var showRegister = function() {
            $('.registerForm').fadeIn('slow');
        };

    form.form-signin(role='form', action='/login', method='post')#loginForm
        h3.form-signin-heading Login
        label.sr-only(for='inputEmail')
        input.form-control(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
        input.form-control(type='password', name='password', id='inputPassword', placeholder='Password', required)
        if (errLogin)
            div.alert.alert-danger
                strong Wrong username or password
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
        br 
        a(onclick='showRegister()' disabled="disabled" href="#") Don't have an account?
    form.form-signin(role='form', action="/register", method="post").registerForm
        h3.form-signin-heading Sign Up here
        input.form-control(type='text', name="username", placeholder='Username', required)
        input.form-control(type='password', name="password", placeholder='Password', required)
        input.form-control(type='email', name="email", placeholder='Email', required)
        if (errRegister)
            div.alert.alert-danger
                strong Username is already used
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
        h5 or
    a(onclick='showRegister()' disabled="disabled" href="/auth/google" style="text-decoration:none;").registerForm
        button.btn.btn-lg.btn-google-plus.btn-block.form-signin
            i.fa.fa-google-plus
            |  | Connect with Google