#ticketDialogForm(title='Ticket')
    form#dialog
        d(style="display: none")#game_id
        d(style="display: none")#ticket_id
        h2#type
        h3#serviceLabel
        h4(style="visibility: hidden")#gameVersion
        div(style="margin-top:10px;")
            d#subject
        div(style="margin-top:10px;")
            d#ticketDescription
        div(style="margin-top:10px;")
            d#priority
        div
            d#status
        div(style="margin-top:20px;")
            d#created
        div
            d#solved
        div(style="margin-top:10px;")#solutions
